main{
    min-height: 80vh;
  }
  
  .prodect-price {
    padding: 1rem 0;
  }
  .reting span{
    margin: 0.1rem;
  }

  h1{
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  h2{
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }